.app {
  display: flex;
  padding: 20px;
  justify-content: center; /* Center horizontally */
}

.game {
  max-width: 100%; /* Ensures the game board does not exceed the container's width */
  width: 480px; /* Default width */
  height: auto; /* Adjust height automatically based on width */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
}

.game img {
  width: 12%; /* Set the width of each image relative to the container */
  height: auto; /* Maintain aspect ratio */
  max-width: 60px; /* Maximum width for images */
  max-height: 60px; /* Maximum height for images */
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .game {
    width: 80%; /* Adjust the width of the game board for smaller screens */
  }
  
  .game img {
    width: 18%; /* Adjust image width for smaller screens */
    max-width: 50px; /* Decrease maximum width for images */
    max-height: 50px; /* Decrease maximum height for images */
  }
}
